@using task.Data.Entities;

    <div class="page-body-wrapper">

        <div class="page-body">
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>
                               Home
                            </h3>
                        </div>
                        <div class="col-lg-6">
                            <ol class="breadcrumb pull-right">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item"> Home </li>
                                <li class="breadcrumb-item active"> Home </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends -->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12" style="text-align: center;">

                        <div class="card-body btn-showcase">
                            <a href ="https://localhost:44304/Home/Employees"  class="btn btn-primary btn-lg" data-original-title="btn btn-warning btn-lg" title="" style="width:30%" >Employees</a> <br>
                            <a href ="https://localhost:44304/Home/Students"  class="btn btn-secondary btn-lg" data-original-title="btn btn-warning btn-lg" title="" style="width:30%"> Students</a><br>
                            <a href ="https://localhost:44304/Home/Departments" class="btn btn-success btn-lg" data-original-title="btn btn-warning btn-lg" title="" style="width:30%" >Departments</a>


                        </div>

                    </div>

                </div>
            </div>
        </div>

       
    </div>

</div>

<!-- latest jquery-->
<script src="~/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap js-->
<script src="~/assets/js/bootstrap/popper.min.js"></script>
<script src="~/assets/js/bootstrap/bootstrap.js"></script>

<!-- Sidebar jquery-->
<script src="~/assets/js/sidebar-menu.js"></script>

<!-- Theme js-->
<script src="~/assets/js/script.js"></script>
